@import url('./universal.css');

#featured-game {
    background-repeat: no-repeat;
    background-size: cover;

    color: white;

    height: 100vh;
}

#featured-game > p {
    margin-top: 20vh;
    background-color: black;
    font-family: 'Inter', sans-serif;
}

#game-play-btn {
    display: block;

    border-radius: 0;
    border-style: none;

    font-weight: 700;
    font-size: 1.1rem;
}