@import url('./universal.css');

#help-faq > h2::before {
    background-color: black;
}

#help-faq > h2,
#help-contact > h2 {
    padding-top: 3rem;
    margin-left: 7rem;
}

#faq-qna {
    columns: 2;

    margin: 0 auto;
    width: 60%;
    min-width: 50rem;
}

#faq-qna > div {
    display: block;
    margin: 0.4rem 1rem;
}

#faq-qna > div > p,
#faq-qna > div > h3 {
    font-family: 'Inter', sans-serif;
}

#help-contact {
    background-color: black;
    color: white;
}

#help-contact > h2::before {
    background-color: white;
}

#contact-flex-container {
    display: flex;
    flex-flow: column nowrap;
    flex-basis: auto;

    width: 40%;
    min-width: 30rem;

    margin: 0 auto;
}

#help-contact form {
    border: 1px solid white;
}

#help-contact-form > label {
    display: block;
    margin: 0.6rem 2rem 0;

    font-size: 1.2rem;
}

#help-contact-form > input,
#help-contact-form > textarea {
    margin-left: 2rem;
    margin-bottom: 0.4rem;

    background-color: black;
    color: white;

    border-style: none;
    border-bottom: 2px solid white;

    width: 90%;
}

#help-contact-form > input#contact-name,
#help-contact-form > input#contact-lastname {
    width: 41%;
}


#contact-send {
    border-radius: 0;
    border-style: none;
    background-color: white;

    margin: 1rem 0;
    font-size: 1.3rem;
    
    align-self: flex-end;
}