@import url('./universal.css');

#home-hero {
    background-image: url("../Assets/Home/HOME_overview.svg");
    height: 80vh;
    max-width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;

    display: grid;
    grid-template-rows: 9fr 1fr;
    grid-template-areas: "titular" "scroller";
}

#home-hero::before {
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

#hero-container {
    grid-area: titular;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'hheading hmodel';
}

.hero-heading {
    z-index: 11;
    margin-top: 0;

    grid-area: hheading;
    /* display: inline-block; */

    font-weight: 700;
    font-size: 4rem;
    line-height: 1em;
    color: var(--tinycade-purple);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--tinycade-purple);

    max-width: 8em;
    margin-left: 8%;
    padding-top: 8%;

    margin-right: 0;

    transition: color 700ms ease-in-out,
        -webkit-text-stroke-color 700ms ease-in-out;
}

.is-fade {
    color: transparent;
    -webkit-text-stroke-color: transparent;
}

@media only screen and (max-width: 1140px) {
    .hero-heading {
        left: 0px;
    }
}

.hero-model {
    max-width: 100%;
    height: auto;
    z-index: 10;

    margin: 10% 6%;

    /* display: inline-block; */
    grid-area: hmodel;
}

#hero-scroll-prompt {
    grid-area: scroller;

    margin-right: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    color: black;
    z-index: 12;
    width: 10em;

    justify-self: right;
}
