@import url('./universal.css');

#home-hero {
    height: 80vh;
    width: 100vw;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    display: grid;
    grid-template-areas: "titular" "scroller";
}

#home-hero::before {
    display: block;
    background-color: white;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

#hero-container {
    grid-area: titular;

    max-height: 90%;
}

.hero-heading {
    z-index: 12;
    margin-top: 0;
    position: relative;

    grid-area: hheading;

    font-weight: 700;
    font-size: 5rem;
    line-height: 1em;
    color: white;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--tinycade-purple);

    max-width: 8em;
    margin-left: 8%;
    padding-top: 8%;

    margin-right: 0;
}

.is-fade {
    color: transparent;
    -webkit-text-stroke-color: transparent;
}

@media only screen and (max-width: 1140px) {
    .hero-heading {
        left: 0px;
    }
}

.hero-model {
    max-width: 100%;
    width: 700px;   
    z-index: 8;

    position: absolute;
    right: 0.1vw;
    top: 5vh;

    margin-left: 5%;
}

#hero-scroll-prompt {
    grid-area: scroller;

    margin-right: 40px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: right;
    color: black;
    z-index: 12;
    width: 10em;

    justify-self: right;
    align-self: end;
}
