main > article {
    
}

.instruction-step {
    background-color: white;
    padding: 1em 2em;

    display: grid;
    grid-template-columns: 60% auto;
}

.instruction-step:nth-of-type(odd) {
    background-color: #a4a4a4;
}

.instruction-step > p {
    grid-column-start: 1;
    max-width: 45%;
}

.instruction-img {
    width: 300px;
    grid-column-start: 2;
}
