.home-section {
    padding: 2em 4em;

    display: grid;

    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
        "sheader graphic"
        "steplist graphic";
}

.home-section:nth-of-type(odd) {
    background-color: black;
    color: white;
}

.home-section h2 {
    grid-area: sheader;
    width: 7em;
}

.home-section ol {
    grid-area: steplist;
    font-family: "Inter", sans-serif;
}

.home-section ol li::marker {
    display: block;
    font-size: 1.5em;
}

.home-section a:link {
    text-decoration: underline;
}

.home-section figure {
    grid-area: graphic;
}

.home-section img {
    width: 100%;
}