@import url('./universal.css');

#main-nav {
    position: sticky;
    z-index: 100;
    top: 0;

    overflow: hidden;

    width: 100vw;
    min-height: 56px;

    /* background-color: transparent; */
    transition: background-color 300ms ease-in-out;
    color: white;

    font-size: 1.6rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#nav-logo-link {
    align-self: flex-start;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: inherit;
}

#nav-logo {
    /* background-color: black; */

    padding: 0.6rem;

    height: 1.6rem;

    margin-left: 1rem;
}

#nav-title {
    color: white;
    background-color: var(--tinycade-purple);

    font-size: inherit;
    font-weight: 700;

    padding: 0.6rem 1rem;

}

#nav-links {
    background-color: var(--tinycade-purple);
    font-size: inherit;

    padding: 0.3rem 1rem;

    /* align-self: flex-end; */

}

#nav-links > a {
    color: white;
    font-size: inherit;
    font-style: italic;
    margin: auto 1.2rem;
}

#nav-links > a:hover {
    text-decoration: underline;
}

nav > .activepage {
    font-weight: 700;
    text-decoration: underline;
}

nav.dark-scroll {
    background-color: black;
    border-bottom: solid white 3px;
}
nav.dark-scroll > #nav-logo-link > #nav-title,
nav.dark-scroll > #nav-links {
    background-color: black;
}