@import url('./universal.css');

nav {
    /* display: block; */
    position: sticky;
    z-index: 100;

    overflow: hidden;

    width: 100vw;
    min-height: 56px;

    /* background-color: transparent; */
    transition: background-color 300ms ease-in-out;
    color: white;

    font-size: 2.4rem;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#nav-logo-link {
    align-self: flex-start;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: inherit;
}

#nav-logo {
    background-color: black;

    padding: 0.6rem;

    height: 3.5rem;

    margin-right: 1rem;
    margin-left: 1rem;
}

#nav-title {
    color: white;
    background-color: var(--tinycade-purple);

    font-size: inherit;
    font-weight: 700;

    padding: 0.6rem 1rem;

}

#nav-links {
    background-color: var(--tinycade-purple);
    font-size: inherit;

    padding: 0.3rem 1rem;
    padding-right: 60px;

    /* align-self: flex-end; */

}

#nav-links > a {
    color: white;
    font-size: inherit;
    font-style: italic;
    margin-right: 2rem;
    margin-left: 2rem;
}

#nav-links > a:hover {
    text-decoration: underline;
}

nav > .activepage {
    font-weight: 700;
    text-decoration: underline;
}

nav.dark-scroll {
    background-color: black;
    border-bottom: 3px solid white;
    position: sticky;
    top: 0;

    transition: background-color 300ms ease-in-out;
}

nav.dark-scroll > #nav-logo-link > #nav-title,
nav.dark-scroll > #nav-links {
    background-color: black;
}

/* ///////////////////////////////// */
/* 
  .is-dark > .nav-menu > #nav-toggle,
  .is-dark > .nav-menu > .nav-links,
  .is-dark > .nav-logo-link > .nav-title {
    background-color: #000000;
  }
  
  nav.is-dark {
    background-color: #000000;
    border-bottom: 3px solid #ffffff;
    position: fixed;
    top: 0;
  } */