/* https://www.figma.com/file/lHLx6DIUqjd9yDrMOx1efR/Website-src?node-id=301%3A179 */

/* typefaces */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html,
:root {
    --tinycade-purple: #653EDD; /* rgb(101, 62, 221) */
    --tinycade-grey: #DBDBDB;

    font-size: 18px;
}

* {
    font-family: 'Space Mono', monospace;

    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;

    width: 100vw;
    height: 100vh;

    padding: 0;
    margin: 0;
}

figure,
img,
video {
    width: auto;
    height: auto;
    max-width: 100vw;
    max-height: 100vh;
}

h2::before {
  display: block;
  width: 6.5rem;
  height: 0.6rem;
  top: -2rem;
  content: "";
  background: var(--tinycade-purple);
}

h2:nth-of-type(odd)::before {
  background: white;
}

a:link .primary,
a:link .secondary {
    text-decoration: none;
}
a:link .inline {
    text-decoration: underline;
}

a:visited .primary,
a:visited .secondary {
    text-decoration: none;
}
a:visited .inline {
    text-decoration: underline;
}

a:hover .primary,
a:hover .secondary,
a:hover .inline {
    text-decoration: underline;
}

a:active .primary,
a:active .secondary,
a:active .inline {
    text-decoration: underline;
}

::-webkit-scrollbar-thumb {
    background: var(--tinycade-purple);
    border-radius: 10px;
}

.underline {
    text-decoration: underline;
}